@font-face {
  font-family: Garfield;
  src: url("./fonts/GARFIELD\ the\ CAT.ttf");
}
@font-face {
  font-family: Aerospa;
  src: url("./fonts/AEROSPA_.TTF");
}
@font-face {
  font-family: Indfait;
  src: url("./fonts/INDFAIT_.TTF");
}

:root {
  --font-color: #fff;
  --header-color: #fff;
  --button-bg: #bdbdbd;
  cursor: url("./images/cursor/NORMAL.gif"), auto;
}

.marquee-warning {
  font-family: Garfield;
  font-weight: bolder;
  color: black;
  padding: 5px;
  background-color: yellow;
  text-transform: uppercase;
}

.theme-toggle {
  width: 6%;
}

.theme-toggle:hover {
  scale: 1.1;
  filter: brightness(125%);
}

.theme-toggle img {
  background-color: var(--button-bg);
  padding: 5px;
  border: 5px outset;
}
