@font-face {
  font-family: Garfield;
  src: url("./fonts/GARFIELD\ the\ CAT.ttf");
}
@font-face {
  font-family: Aerospa;
  src: url("./fonts/AEROSPA_.TTF");
}
@font-face {
  font-family: Indfait;
  src: url("./fonts/INDFAIT_.TTF");
}

:root {
  --font-color: #fff;
  --header-color: #fff;
  --button-bg: #bdbdbd;
  cursor: url("./images/cursor/NORMAL.gif"), auto;
}

.marquee-warning {
  font-family: Garfield;
  font-weight: bolder;
  color: black;
  padding: 5px;
  background-color: yellow;
  text-transform: uppercase;
}

/* UPDATE LOG */

#update-log {
  width: 100%;
  background-color: brown;
  border: 15px outset #f9ec9b;
  box-shadow: inset 6px -22px 43px 9px rgba(0,0,0,0.75),
              inset -8px 11px 43px 9px rgba(0,0,0,0.75);  
}

#update-log ul {
  padding: 0;
  width: 100%;
  list-style: none;
}

#update-log li {
  font-size: 20px;
  color: #f9ec9b;
  text-align: center;
  text-shadow: rgb(126, 121, 57) 3px 0px 0px, rgb(126, 121, 57) 2.83487px 0.981584px 0px, rgb(126, 121, 57) 2.35766px 1.85511px 0px, rgb(126, 121, 57) 1.62091px 2.52441px 0px, rgb(126, 121, 57) 0.705713px 2.91581px 0px, rgb(126, 121, 57) -0.287171px 2.98622px 0px, rgb(126, 121, 57) -1.24844px 2.72789px 0px, rgb(126, 121, 57) -2.07227px 2.16926px 0px, rgb(126, 121, 57) -2.66798px 1.37182px 0px, rgb(126, 121, 57) -2.96998px 0.42336px 0px, rgb(126, 121, 57) -2.94502px -0.571704px 0px, rgb(126, 121, 57) -2.59586px -1.50383px 0px, rgb(126, 121, 57) -1.96093px -2.27041px 0px, rgb(126, 121, 57) -1.11013px -2.78704px 0px, rgb(126, 121, 57) -0.137119px -2.99686px 0px, rgb(126, 121, 57) 0.850987px -2.87677px 0px, rgb(126, 121, 57) 1.74541px -2.43999px 0px, rgb(126, 121, 57) 2.44769px -1.73459px 0px, rgb(126, 121, 57) 2.88051px -0.838247px 0px;

  background-color: #fff;
  width: 100%;
  padding: 20px 0;
  margin: 10px 0;
  box-shadow: inset -8px 11px 34px -3px rgba(0,0,0,0.75);
}

/* THEME TOGGLER */

.theme-toggle {
  width: 6%;
}

.theme-toggle:hover {
  scale: 1.1;
  filter: brightness(125%);
}

.theme-toggle img {
  background-color: var(--button-bg);
  padding: 5px;
  border: 5px outset;
}
