body {  
  margin: 5em auto;
  margin: 0;
  padding: 0 30%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--font-color);
  text-align: center;
}

@media screen and (max-width: 1300px) {
  body {
    padding: 0 20%;
  }
}

@media screen and (max-width: 800px) {
  body {
    padding: 0 15%;
  }
}

@media screen and (max-width: 400px) {
  body {
    padding: 0 5%;
  }
}

/* Themes */

.light-theme {
  background-image: url("../images/sky_tile.gif");
  --header-color: black;
  --font-color: black;
}

.dark-theme {
  background-image: url("../images/stars_01.gif");
  --header-color: white;
  --font-color: white;
}

/* Miscellaneous */

hr {
  width: 100%;
  height: 20px;
  background-image: url("../images/light\ saber.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border: none;
  margin: 40px 0;
}

img {
  height: auto;
  max-width: 100%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* BUTTON AND LINKS */

a {
  color: rgb(0, 162, 255);
}

a:visited {
  color: rgb(212, 0, 255);
}

button {
  background-color: var(--button-bg);
  padding: 10px 5px;
  border: 5px outset;
}

a:hover,
button:hover {
  cursor: url("../images/cursor/LINK\ SELECT.png"), auto !important;
  filter: brightness(150%);
}

/* FONTS */

h1 {
  font-family: Aerospa;
}

p {
  line-height: 1.6em;
  font-size: 18px;
  margin: 25px 0;
}

/* CONTAINERS */

section {
  margin-top: 100px;
  margin-bottom: 100px;
}

/*HEADER STYLE*/
#header {
  background-color: transparent;
  margin: 20px 0;
}

#header ul {
  list-style-type: none;
  padding: 0.5em 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header li {
  font-size: 1.2em;
  font-family: Garfield;
  text-transform: uppercase;
  margin-right: 1.5em;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
  display: inline-block;
}
#header li a {
  color: var(--header-color);
  text-decoration: none;
}
#header li a:hover {
  text-decoration: underline;
}