#television {
  width: 80%;
  height: 80vh;
  background: url("../images/computer/purepng.com-old-televisiontvtelecommunicationmonochromeblack-and-whittelevisionoldblack-and-white-1421526535595ol0vn.png")
    no-repeat;
}
