@import url("https://fonts.googleapis.com/css2?family=Tillana:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Sankofa+Display&display=swap");

/* TODO: Clean this CSS code */
/* TODO: Must clean up the images directory */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-image: url("../images/virtual\ diary\ page/bg_purplePaper.png");
}

/* Font */
h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
}

p {
  text-align: justify;
  font-family: "Tillana";
  line-height: 1.6em;
  font-size: 18px;
}

/* Book */
.book {
  width: 35%;
  height: 700px;
  position: relative;
  border-radius: 5%;
  transition: transform 0.5s;
}

.paper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  perspective: 2000px;
}

.front,
.back {
  background: url("../images/virtual\ diary\ page/paper-container-bg.jpg");
  background-position: center center;
  background-size: cover;
  box-shadow: 5px 5px 10px rgba(27, 27, 27, 0.168);
  border-left: 10px rgb(255, 255, 255) dashed;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px 70px;
  transform-origin: left;
  transition: transform 0.5s;
}

.cover {
  background: url("../images/virtual diary page/book-cover.jpg");
  background-position: 0px;
  background-size: cover;
}

.cover .back-content,
.cover .front-content {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
}

.cover .back-content p,
.cover .front-content p,
.cover .back-content h1,
.cover .front-content h1 {
  font-size: 100px;
  font-family: "Sankofa Display";
  text-shadow: 4px 4px black;
  letter-spacing: 5px;
  color: #fff;
}

.cover .back-content p,
.cover .front-content p {
  font-weight: 600;
  font-size: 30px;
  letter-spacing: 3px;
  word-spacing: 10px;
}

.front {
  z-index: 1;
  backface-visibility: hidden;
}

.back {
  z-index: 0;
}

.front-content,
.back-content {
  width: 100%;
  height: 100%;
}

.back-content {
  transform: rotateY(180deg);
}

/* Paper flip effect */
.flipped .front,
.flipped .back {
  transform: rotateY(-180deg);
}

/* Controller Buttons */
button {
  cursor: pointer;
  position: absolute;
  top: 0;
  margin: 10px;
  padding: 10px 30px;
  border: none;

  background: url("../images/virtual\ diary\ page/cardboard.jpg ");
  background-size: cover;
  transition: transform 0.5s;
}

button img {
  width: 80px;
  transition: 100ms;
}

#next-btn {
  right: 30%;
}

#prev-btn {
  left: 30%;
  scale: -1;
}

button:focus {
  outline: none;
}

button:hover img {
  scale: 1.2;
}

i {
  font-size: 50px;
  color: gray;
}
